@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Open+Sans+Condensed:300&display=swap');
/*	*************************************************
	BASE
	************************************************* */
body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px; 
}

h1 {
	font-family: 'Big Shoulders Display', cursive;
	font-size: 60px; 
}

/*	*************************************************
	LAYOUT
	************************************************* */
.container {
	margin:0 auto;
	width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fff;
    color: #444;
}

.box {
        background-color: #444;
        color: #fff;
        padding:20px; 
        }
/* Header */
.h {
	grid-column: 1/3;
	grid-row: 1; 
}

/* Navigation */
.menu {
	display: flex;  
	text-align: center; 
}

.n {
	grid-column: 3/4; 
	grid-row: 1; 
	padding: 10px; 

}

.menu li { 
		display: block;  
		font-size: 24px; 
		padding: 10px; 
		font-family: 'Big Shoulders Display', cursive; 
	}
.menu {
	padding: 10px; 
}

nav a, nav li {
	color:#ffffff;
	text-decoration: none; 
}

nav a:hover {
	color:#999999;
}

/* Row 3 */

.lead {
	grid-column: 1/2; 
	grid-row: 3; 
	font-size: 22px; 
}

aside {
	grid-column: 2/3; 
	grid-row: 3; 
	padding: 10px;  
}

aside h2{
	text-align: center; 
	font-size: 22px; 
}

footer {
	grid-column: 3/4; 
	grid-row: 3; 
	padding-top: 20px; 
}

/*	*************************************************
	MODULE
	************************************************* */

.slideshow {
	grid-column: 1/4; 
	grid-row: 2; 
}

.is-current {
	background-color: #ffffff;
	color: #444;
}



