
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Open+Sans+Condensed:300&display=swap');
/*	*************************************************
	BASE
	************************************************* */
body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px; 

}

h1 {
	font-family: 'Big Shoulders Display', cursive; 
}

nav a{
	color:#ffffff;
	text-decoration: none; 
}

nav a:hover {
	color:#999999;
}

p {
	padding-left: 20px;
}
/*	*************************************************
	Module
	************************************************* */
.box {
        background-color: #444;
        color: #fff;
        padding:30px 30px 0px 30px; 

        }

.home {
	text-shadow: 3px 3px 4px #ffffff;
	font-size: 70px; 
	margin-top: -80px; 
	margin-bottom: -300px; 
}

.sub {
	font-size: 60px; 
	margin-top: 20px; 
	margin-bottom: 0;  
}

.homeaside h2 h3{
	text-align: center; 
	font-size: 22px;  
}

.lead {
	font-size: 25px; 
}


/*	*************************************************
	LAYOUT
	************************************************* */
.container {
	margin:0 auto;
	width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #444;
    min-height: 100vh;
 	overflow: hidden;
 	position: relative;
 	padding-bottom: 30px;

}

/* header */
.h {
	grid-column: 1/3;
	grid-row: 1; 
	text-align: center; 
	
} 

/* Navigation */


.n {
	grid-column: 3/4; 
	grid-row: 4; 
	font-size: 40px; 
	font-family: 'Big Shoulders Display', cursive;
	text-align: center; 
	padding-top: 50px;  
	padding-left: 20px;
	display: block; 
	text-shadow: 3px 3px 4px #000000;
 
}

.menu {
	grid-column: 3/4; 
	grid-row: 1;
	font-size: 40px; 
	padding-left: 50px; 
	padding-top: 30px; 
	margin-top: 20px; 
	padding-bottom: 0;
	font-family: 'Big Shoulders Display', cursive;
	text-shadow: 3px 3px 4px #000000;

}


/* Z Layout - Home page */

.lead {
	grid-column: 1/3; 
	grid-row: 4;
	 
}

.homeaside {
 grid-column: 3/4; 
 grid-row: 1;

}

.foot {
 position: absolute;
 bottom: 0;
 width: 100%;
 text-shadow: 3px 3px 4px #000000;
}

/******* Layout F *******/ 

main {
	grid-column: 1/4;
}
section {
display: flex; 
margin-left: 20px;
margin-top: 20px; 
margin-bottom: 10px; 

}
.f {
	display: flex;  
}

article {
	padding-left: 30px;  
}

footer {
	margin-top: 30px;
	grid-column: 1/4; 
	color: #444; 
}

/*********** ODD STUDENT ***********/ 

.odd {
	font-family: 'Big Shoulders Display', cursive;
	font-size: 25px; 
}

.odd img {
	border-radius: 50%;
}

.oddhead 
{
	text-shadow: 3px 3px 4px #757575;
}
