
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Open+Sans+Condensed:300&display=swap');
/*	*************************************************
	BASE
	************************************************* */
body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px; 

}

h1 {
	font-family: 'Big Shoulders Display', cursive; 
}

nav a, nav li {
	color:#ffffff;
	text-decoration: none; 
}

nav a:hover {
	color:#999999;
}

/*	*************************************************
	Module
	************************************************* */
.box {
        background-color: #444;
        color: #fff;
        padding:13px; 
        }

.home {
	text-shadow: 3px 3px 4px #ffffff;
	font-size: 70px; 
	margin-top: -80px; 
}

.sub {
	font-size: 60px; 
	margin-top: 20px; 
}

.homeaside h2 h3{
	text-align: center; 
	font-size: 22px;  
}

.lead {
	font-size: 25px; 
}
/*	*************************************************
	LAYOUT
	************************************************* */
.container {
	margin:0 auto;
	width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #444;
    min-height: 100vh;
 	overflow: hidden;
 	position: relative;
 	padding-bottom: 30px;

}

/* header */
.h {
	grid-column: 1/3;
	grid-row: 1; 
	
} 

/* Navigation */
.menu {
	display: flex;  
	text-align: center; 
}

.n {
	grid-column: 3/4; 
	grid-row: 1;  
 
}

.menu li { 
		display: block;  
		font-size: 24px; 
		padding: 10px; 
		font-family: 'Big Shoulders Display', cursive; 
	}
.menu {
	padding: 10px; 
}

/* Z Layout - Home page */

.lead {
	grid-column: 1/3; 
	grid-row: 4;
	 
}

.homeaside {
 grid-column: 3/4; 
 grid-row: 4;

}

.foot {
 position: absolute;
 bottom: 0;
 width: 100%;
 text-shadow: 3px 3px 4px #000000;
}

/******* Layout F *******/ 


main {
	grid-column: 1/4;  
}

.f {
display: flex; 
margin-left: 20px;

}

article {
	padding-left: 30px;  
}

footer {
	margin-top: 30px;
	grid-column: 1/4; 
	color: #444; 
}





